version: '3.7'
services:
  toasting-spring:
    image: ${DOCKER_HUB_USERNAME}/toasting-spring:latest
    restart: always
    container_name: toasting-spring
    ports:
      - "8000:8000"
    networks:
      - toasting

networks:
  toasting:
    external: true